html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat';
}
h1{
    font-family: 'Great Vibes';
    padding-top: 22px;
}
h2 {
    font-family: 'Cormorant Garamond';
}

.lista-redes span {
    font-size:35px;
    display: block;
    text-align: center;
}
header{
    background-image: url(../imagenes/plato-vegan.jpg);
    background-size:cover;
    background-attachment: fixed;
    height: 500px;
}
.fondo-imagen{
    background-image: url(../imagenes/vaca-vegan.jpg);
    background-size:cover;
    background-attachment: fixed;
}
.fondo-alpha {
    background: linear-gradient(rgba(255,255,255,.75),rgba(0,0,0,.75));
}
.logo {
    font-family: 'Great Vibes';
    font-size: 33px;
}
/*hr{
    border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}
hr:after{
    content: '';
	display: block;
	margin-top: 2px;
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}*/
hr{
    height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px black inset;
}
@media (min-width:992px){
    
    header img {width:200px;}
    
}









